
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.font-open-sans{
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}

body {
    line-height: 1.6;
    color: #333;
    background-color: #fff;
}


.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

/* Navbar */
.navbar {
    background-color: #fff;
    border-bottom: 1px solid #eee;
    padding: 20px 0;
    position: sticky;

}

.nav-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    display: flex;
    align-items: center;
    font-weight: 700;
    font-size: 20px;
    color: #111;
}

.logo img {
    height: 32px;
    margin-right: 10px;
}

nav ul {
    display: flex;
    list-style: none;
    gap: 32px;
}

nav a {
    text-decoration: none;
    color: #555;
    font-weight: 500;
  
}

nav a:hover {
    color: #111;
}

.primary-btn {
   width: 164px;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px 16px;
  border: none;
  border-radius: 4px;
  background-color: #469165;
  color: #ffffff;
  cursor: pointer;
}

/* Hero Section - Updated background */
.hero {
    background: url('assets/hero-bg.png'), #fff;
    color: #fff;
    padding: 140px 0 120px;
    text-align: center;
}

.badge {
    display: inline-block;
    background-color: #fff;
    color: #30B868;
    padding: 8px 16px;
    border-radius: 50px;
    font-size: 14px;
    margin-bottom: 30px;
    border: 1px solid rgba(255, 255, 255, 0.3);
}

h1 {
    font-size: 58px;
    font-weight: 700;
    margin-bottom: 20px;
    line-height: 1.2;
}

.highlight {
    color: #4ade80;
}

.subtitle {
    font-size: 20px;
    margin-bottom: 40px;
    opacity: 0.9;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}

.hero-buttons {
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.btn-first {
    background-color: #4ade80;
    color: #fff;
    padding: 14px 28px;
    border-radius: 8px;
    text-decoration: none;
    font-weight: 600;
    font-size: 16px;
}

.btn-first:hover {
    background-color: #22c55e;
}

.btn-second {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    padding: 14px 28px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 8px;
}

.btn-secondary:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

